* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: #eceeef;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.app {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app section {
  width: 100%;
}

.ld-6 {
  color: #404040;
  font-weight: 600;
  text-align: center;
}

.ifLoading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  font-size: 2.4rem;
  z-index: 4;
  transition: transform 150ms ease-in-out;
  color: #412816;
  background-color: #eceeef;
  text-shadow: 2px 3px 0px #e9c2a6;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
